.mensagem-carrinho{
    margin-top: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 21rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color: darkred;
}

#total-produto{
    text-align: right;
    margin-right: 14%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 4rem;
    
}

.imagem-produto-carrinho{
    width: 10rem;
    border-radius: 10%;
    margin-right: 3rem;
    margin-left: 1rem;
}

#tituloCarrinho{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bolder;
}

#titulos-carrinho{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: -2.5rem;
    color: gray;
}

#produto-titulo{
    padding-left: 23.5rem;
    padding-right: 4rem;
}

#produto-preco{
    padding-left: 19.2rem;
    padding-right: 5rem;
}

#produto-qtd{
    padding-left: 2rem;
    padding-right: 4.5rem;
}

#produto{
    margin-bottom: 3rem;
}

.produtoCarrinho{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 2.5rem;
}

.produtoCarrinho h2{
    margin-right: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0rem 1rem 0rem 2rem;
    width: 40%;
}

.produtoCarrinho p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
}

.produto-preco{
    padding-left: 5rem;
    padding-right: 5rem;
}

.produto-subtotal{
    padding: 2rem;
}

.qtd-preco{
    padding: 1rem;
}

.precoCarrinho{
    width: 11%;
    display: flex;
}

.btnCarrinho{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.imgBtnCarrinho{
    width:2rem;
}

.imgBtnCarrinho:hover{
    filter: brightness(85%);
}

.imgBtnCarrinho:active{
    filter: brightness(100%);
}